{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1>Event search is currently disabled due to technical issues</h1>

        <p>We apologize for the inconvenience.</p>
        <a href="{{ path('app_main_index') }}">Back to homepage</a>
    </section>
{% endblock %}
